<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cp D:\wen1\workspace35\hudson\plugins\cppncss\src\test\resources\hudson\plugins\cppncss\cppncss-reports\first-report\first-report-cppncss.xml cppncss.xml </command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.cppncss.CppNCSSPublisher>
      <reportFilenamePattern>cppncss.xml </reportFilenamePattern>
      <functionCcnViolationThreshold>3</functionCcnViolationThreshold>
      <functionNcssViolationThreshold>100</functionNcssViolationThreshold>
      <targets>
        <hudson.plugins.cppncss.CppNCSSHealthTarget>
          <metric class="hudson.plugins.cppncss.CppNCSSHealthMetrics">AVG_FILE_CCN_RATIO</metric>
          <healthy>3.0</healthy>
          <unhealthy>5.0</unhealthy>
        </hudson.plugins.cppncss.CppNCSSHealthTarget>
        <hudson.plugins.cppncss.CppNCSSHealthTarget>
          <metric class="hudson.plugins.cppncss.CppNCSSHealthMetrics">NUMBER_OF_CCN_VIOLATED_FUNCTION</metric>
          <healthy>0.0</healthy>
          <unhealthy>1.0</unhealthy>
        </hudson.plugins.cppncss.CppNCSSHealthTarget>
      </targets>
    </hudson.plugins.cppncss.CppNCSSPublisher>
  </publishers>
  <buildWrappers/>
</project>